{% extends "index.html" %}
{% block body %}

                <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Salary report for {{date}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        	<th>Day of month</th>
                                            <th>Basic Salary</th>
                                            <th>OT</th>
                                            <th>OT hours</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% set count=0 %}
                                        {% for i in wages %}
                                        
                                        <tr>
                                        <td>{{i.DailySalary.date.strftime("%-d")}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{wd[count]|safe}}</td>
                                        {% set count = count+1 %}
                                        <td><input class="form-control" id="a" name="txt" value="{{i.DailySalary.basicSalary}}" readonly></td>
                                        <td><input class="form-control" id="a" name="txt" value="{{i.DailySalary.overTime}}" readonly></td>
                                        <td><input class="form-control" id="a" name="txt" value="{{i.DailySalary.otHours}}" readonly></td>
                                        <td><input class="form-control" id="a" name="txt" value="{{i.DailySalary.dailySalary}}" readonly></td>
                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
    <!-- jQuery -->
    <script src="../static/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/metisMenu/dist/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="../static/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
<div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                   <input class="form-control" id="sum1" value="{{mt.0.amount}}" readonly>
<button type="button" class="btn btn-success" id="btn">Submit</button>

</div>
</div>
</div>
<script type="text/javascript">
$(function(){
	var employeeid = "{{worker.id}}";
	$("#btn").click(function(){
		$.ajax({
			url: "/pay",
			type: 'POST',
			data: {
				{% for i in range(31) %}
				day{{i+1}}: $("#day{{i+1}}").val(),
				{% endfor %}
				employeeid: employeeid,
				sum: $("#sum1").val()
			},
			success: function(data){
			alert(data.bbb);
			},
		});
	});
	});
</script>
{% endblock %}