{% extends "index.html" %}
{% block body %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit employee</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee information
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Employee name</label>
                                            <input class="form-control" id="chinese" placeholder="Chinese" value="{{worker.cname}}"><br>
                                            <input class="form-control" id="english" placeholder="English" value="{{worker.ename}}">
                                        </div>
                                        <div class="form-group">
                                            <label>ID number</label>
                                            <input class="form-control" id="idnum" placeholder="ID number" value="{{worker.hkid}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" id="address" placeholder="Address" value="{{worker.address}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone number</label>
                                            <input class="form-control" id="home" placeholder="Home" value="{{worker.phoneH}}"><br>
                                            <input class="form-control" id="mobile" placeholder="Mobile" value="{{worker.phoneM}}">
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" id="salary" placeholder="Basic salary" value="{{worker.salary}}">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input class="form-control" id="title" placeholder="Title" value="{{worker.title}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Marriage status</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios" id="Single" value="Single" {% if worker.married == "Single" %}checked="checked"{% endif %}>Single
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios" id="Married" value="Married" {% if worker.married == "Married" %}checked="checked"{% endif %}>Married
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios2" id="Male" value="Male" {% if worker.gender == "Male" %}checked="checked"{% endif %}>Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios2" id="Female" value="Female" {% if worker.gender == "Female" %}checked="checked"{% endif %}>Female
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Employment type</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios3" id="Hourly" value="Hourly" {% if worker.eType == "Hourly" %}checked="checked"{% endif %}>Hourly
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios3" id="Daily" value="Daily" {% if worker.eType == "Daily" %}checked="checked"{% endif %}>Daily
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadios3" id="Monthly" value="Monthly" {% if worker.eType == "Monthly" %}checked="checked"{% endif %}>Monthly
                                            </label>
                                        </div>
                                        <div class="form-group">
                                        <label>Employment Date: </label><input type="text" id="datepicker" value="{{worker.eDate.strftime('%Y-%m-%d')}}">
                                        </div>
                                        <div class="form-group">
                                        <label>Probation</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsPro" id="No" value="No" {% if worker.probation == "No" %}checked="checked"{% endif %}>No
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsPro" id="Yes" value="Yes" {% if worker.probation == "Yes" %}checked="checked"{% endif %}>Yes
                                            </label>
                                            <div id="pro">
                                            {% if worker.probation == "Yes" %}
                                            <input type="text" size="2" id="pd" value="{{worker.probationDays}}"> days <input type="text" size="2" id="pw" value="{{worker.probationWeeks}}"> weeks <input type="text" size="2" id="pm" value="{{worker.probationMonths}}"> months
                                            {% else %}
                                            <input type="text" size="2" id="pd"> days <input type="text" size="2" id="pw"> weeks <input type="text" size="2" id="pm"> months
                                            {% endif %}

                                        </div>
                                            </div>
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea class="form-control" id="remarks" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Contract copy</label>
                                            <input type="file">
                                        </div>

                                        <button type="button" class="btn btn-success" id="update">Update</button>
                                        <button type="button" class="btn btn-warning">Cancel</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
<script src="../static/js/pr.js"></script>
<script type="text/javascript">
$(function(){
      var workerid = "{{worker.hkid}}";
      $("#update").click(function(){
            $.ajax({
            url: "/updateEmployee",
            type: 'POST',
            data: {
            marriage: $("input[name=optionsRadios]:checked").val(),
            gender: $("input[name=optionsRadios2]:checked").val(),
            type: $("input[name=optionsRadios3]:checked").val(),
            eDate: $("#datepicker").val(),
            probation: $("input[name=optionsPro]:checked").val(),
            pd: $("#pd").val(),
            pw: $("#pw").val(),
            pm: $("#pm").val(),
            idnum: $("#idnum").val(),
            chinese: $("#chinese").val(),
            english: $("#english").val(),
            address: $("#address").val(),
            home: $("#home").val(),
            mobile: $("#mobile").val(),
            salary: $("#salary").val(),
            title: $("#title").val(),
            remarks: $("#remarks").val(),
            workerid: workerid
            },
            success: function(data){
            alert(data.bbb);
          },
            });
        });
    });
</script>
{% endblock %}
