{% extends "index.html" %}
{% block body %}

                <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Month: <select name='month' id="month">
                            {% for i in range(12) %}
        <option value='{{i+1}}'>{{i+1}}</option>
        {% endfor %}
          </select>
          Year: <select name='year' id="year">
                            {% for i in range(2016,2026) %}
        <option value='{{i}}'>{{i}}</option>
        {% endfor %}
          </select>
          <button type="button" class="btn btn-success" id="confirm">Select</button>
          <h1 id="date">Salary for </h1><div id="bsdiv"></div>
          </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Day of month</th>
                                            <th>Basic Salary</th>
                                            <th>OT</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="body">

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
       
    <!-- jQuery -->
    <script src="../static/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/metisMenu/dist/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="../static/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
<div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                   <input class="form-control" id="sum1">
<button type="button" class="btn btn-success" id="btn">Submit</button>

</div>
</div>
</div>
<script type="text/javascript">

$(function(){
    var employeeid = "{{worker.id}}";
    function daysInMonth(month, year) {
  return new Date(year, month, 0).getDate();
}
    $("#confirm").click(function(){
        var month = $("#month").val();
        var year = $("#year").val();
        $.ajax({
            url: '{{url_for('newsalary',id=worker.hkid)}}',
            type: 'POST',
            data: {
                month: month,
                year: year,
                days: daysInMonth($("#month").val(), $("#year").val()),
            },
            success: function(data){
    			
            	$("#body").html(data.new);
            	$("#date").html("Salary for "+month+"/"+year);
                $("#bsdiv").html("Basic Salary: <input class='form-control' id='salary' value ='0' >");
            	calculateSum();
            },
        });
$(document).on("keydown keyup","#salary",function(){
    {% set indexb = 0 %}
    $('*[id^="bs"]').each(function(){
            this.value = parseFloat($("#salary").val());
            {% set indexb = indexb + 1 %}
            console.log({{indexb}});
        });
    

});     
    });

	
	$("#btn").click(function(){
        console.log({{indexb}});
		$.ajax({
			url: "/pay",
			type: 'POST',
			data: {
				month: $("#month").val(),
				year: $("#year").val(),
				{% for i in range(indexb) %}
                bs{{i+1}}:$("#bs{{i+1}}").val(),  
                ot{{i+1}}:$("#ot{{i+1}}").val(),
				ds{{i+1}}: $("#ds{{i+1}}").val(),
				{% endfor %}
				days: daysInMonth($("#month").val(), $("#year").val()),
				employeeid: employeeid,
				sum: $("#sum1").val()
			},
			success: function(data){
			alert(data.bbb);
			},
		});


});
    //this calculates values automatically 




		

    $(document).on("keydown keyup",function() {
    			var indexa = 1;
		$('*[id^="ds"]').each(function(){
			this.value = (parseFloat($("#bs"+indexa).val())+ parseFloat($("#ot"+indexa).val())).toFixed(2);
			indexa += 1;
		});
        calculateSum();
    });
});


function calculateSum() {
    var sum = 0;
    //iterate through each textboxes and add the values
    $("input[name=txt]").each(function() {
        //add only if the value is number
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
            $(this).css("background-color", "#FEFFB0");
        }
        else if (this.value.length != 0){
            $(this).css("background-color", "red");
        }
    });

    $("#sum1").val(sum.toFixed(2));
}
</script>
{% endblock %}